.btn {
  --hue: 100;
  --saturation: 100%;
  padding: .5rem 1rem;
  border: none;
  background-color: hsl(var(--hue), var(--saturation), 50%);
  font-size: 2rem;
  margin-left: 1rem;
  color: inherit;
  cursor: pointer;
}

.record-button,
.btn-clear {
  --hue: 0;
  --saturation: 0%;
}

.record-button.active {
  --saturation: 100%;
}

.btn:hover {
  background-color: hsl(var(--hue), var(--saturation), 30%);
}

.buttons {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  flex-direction: column;
  justify-content: space-between;
  font-size: 30px;
  margin: 10px;
}

.channel {
  margin-top: 10px;
}

.buttons span {
  font-size: 40px;
  font-family: arial;
  color: black;
  cursor: pointer;
  user-select: none;
}

.channel-txt.active {
  color: green;
}

.keys {
  margin-top: 30px;
}